<%= form_for([@listing, @review]) do |f| %>
  <% if @review.errors.any? %>
          <div id="error_explanation" class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h4>

             <ul>
            <% @review.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
  <% end %>
<div id="star-rating"></div>

  <div class="form-group">
    <%= f.label :comment %><br>
    <%= f.text_area :comment, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Evaluer", class: "btn btn-success" %>
  </div>
<% end %>

<script>
  $('#star-rating').raty({
    path: '../../../assets',
    scoreName: 'review[rating]',

  });
</script>
